<div class="row">
  <div class="col-md-4 col-md-offset-4 login">

    <div class="well">
      <h2>Login</h2>
      <form role="form" name="loginForm" ng-submit="login()">
        <!--<div class="form-group">-->
          <!--<label for="register__email">Email</label>-->
          <!--<input type="email" class="form-control" id="register__email" ng-model="metro.email" placeholder="ex. john@notgoogle.com" />-->
        <!--</div>-->

        <div class="form-group">
          <label for="register__username">Username</label>
          <input type="text" class="form-control" id="register__username" name="register__username" ng-model="metro.username" placeholder="ex. john" />
        </div>

        <div class="form-group">
          <label for="register__password">Password</label>
          <input type="password" class="form-control" id="register__password" name="register__password" ng-model="metro.password" placeholder="ex. thisisnotgoogleplus" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>