<div class="main-nav">
    <nav class="navbar">
        <div class="container">
            <div class="row">
                <div class="navbar-header col-sm-5">
                    <a class="navbar-brand" href="#">
                        <img class="logo" src="http://engineroom.trackmaven.com/theme/images/logo@2x.png">
                    </a>
                    <h1 class="title ">
                        <a class="white-back" href="http://engineroom.trackmaven.com/">Metro Scheduler</a>
                    </h1>
                </div>
                <div class="col-sm-7">
                    <ul class="nav navbar-nav" ng-model="currentUser">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard" ng-class="menuClass('dashboard')"
                           ng-if="isAuthenticated(currentUser)"><span class="glyphicon glyphicon-user"></span> Dashboard</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" ng-class="menuClass('contact')"><span
                                class="glyphicon glyphicon-envelope"></span> Contact Us </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" ng-class="menuClass('support')"><span
                                class="glyphicon glyphicon-wrench"></span> Support</a>
                    </li>
                    <li class="nav-item navbar-right">
                        <a class="nav-link" href="/login" ng-class="menuClass('login')"
                           ng-if="!isAuthenticated(currentUser)"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                        <a class="nav-link nav-login" ng-click="logout()" ng-if="isAuthenticated(currentUser)">Logout
                            <span class="glyphicon glyphicon-log-out"></span></a>
                    </li>
                    <li class="nav-item navbar-right">
                        <a class="nav-link nav-login" href="/register" ng-class="menuClass('register')"
                           ng-if="!isAuthenticated(currentUser)"><span class="glyphicon glyphicon-user"></span> Register</a>

                    </li>
                </ul>
                </div>

            </div>

        </div>
    </nav>
</div>
