#footer-main {
    margin-top:4rem;
    position: relative;
    background-color: #333;
    width: 100%;
    height: 132px;
    //position: absolute;
    bottom: 0;
    color: #fff;
    text-align: left;

    .footer-wrap {
        position: absolute;
        width: 90%;
        top: 50%;
        left    : 5REM;
        font-size: 12px;
        line-height: 18px;
        a {
            font-size: 12px;
        }
    }
    .copyright {
        position: absolute;
        top: 0;
        right: 0;
    }
}